<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900475997784-o9e34bcsodbg9hl1q513pb9gfamuk62p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900475997784-o9e34bcsodbg9hl1q513pb9gfamuk62p</string>
	<key>API_KEY</key>
	<string>AIzaSyDB6qY9swkEuRd0khXGWl2NOeqSwwW8vsE</string>
	<key>GCM_SENDER_ID</key>
	<string>900475997784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fiestaaa.fiestaaa</string>
	<key>PROJECT_ID</key>
	<string>fiestaaa-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fiestaaa-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900475997784:ios:d352453a29aab0efc6042d</string>
</dict>
</plist>